@model IEnumerable<FShop.DB.DB.Product>

@{
    ViewBag.Title = "Index";
    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "product_list",
    };
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Ajax.ActionLink("Fishing Shop", "Prod_List", "Product", new { area = "" }, options, new { @class = "navbar-brand" })
            @Ajax.ActionLink("Спиннинг", "Prod_List", "Product", new { ProdType = "Спиннинговые удилища" }, options, new { @class = "navbar-brand" })
            @Ajax.ActionLink("Фидер", "Prod_List", "Product", new { ProdType = "Фидерные удилища" }, options, new { @class = "navbar-brand" })
            @Ajax.ActionLink("Болонки", "Prod_List", "Product", new { ProdType = "Болонские удилища" }, options, new { @class = "navbar-brand" })
            @Ajax.ActionLink("Карповые", "Prod_List", "Product", new { ProdType = "Карповые удилища" }, options, new { @class = "navbar-brand" })
            @Ajax.ActionLink("Сигнализаторы", "Prod_List", "Product", new { ProdType = "Электронные сигнализаторы" }, options, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </div>
</div>
<div style="height:50px">

</div>

<div class="container">
    <div class="row" style="margin-bottom:10px">
      
        @Ajax.ActionLink("6", "Prod_List", "Product", new { ProdType =ViewBag.ProdType,Page=ViewBag.Page, ProdOnPage = 6 }, options,new { @class="btn btn-info btn-lg", @style="min-width:60px; border-top-left-radius:50px" })
        @Ajax.ActionLink("9", "Prod_List", "Product", new { ProdType = ViewBag.ProdType, Page = ViewBag.Page, ProdOnPage = 9 }, options, new { @class = "btn btn-info btn-lg", @style = "min-width:60px; " })
        @Ajax.ActionLink("12", "Prod_List", "Product", new { ProdType = ViewBag.ProdType, Page = ViewBag.Page, ProdOnPage = 12 }, options, new { @class = "btn btn-info btn-lg", @style = "min-width:60px; " })
        @Ajax.ActionLink("15", "Prod_List", "Product", new { ProdType = ViewBag.ProdType, Page = ViewBag.Page, ProdOnPage = 15 }, options, new { @class = "btn btn-info btn-lg", @style = "min-width:60px; border-top-right-radius:50px " })
        
        <div>
            <div class="row" id="product_list">
                @Html.Action("Prod_List")
            </div>
        </div>
    </div>

  </div>

