@model IEnumerable<FShop.DB.DB.Product>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "product_list",
    };
    string LoginLogof = "Войти";
    string LoginLogofAction = "Login";

}

@if(Request.IsAuthenticated){ LoginLogof = "Выйти"; LoginLogofAction = "LogOff"; }
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
    
            <div class="button-group">
                @Ajax.ActionLink("Fishing Shop", "Prod_List", "Product", new { area = "" }, options, new { @class = "navbar-brand" })
                @Ajax.ActionLink("Спиннинг", "Prod_List", "Product", new { ProdType = "spinning" }, options, new { @class = "navbar-brand" })
                @Ajax.ActionLink("Фидер", "Prod_List", "Product", new { ProdType = "fider" }, options, new { @class = "navbar-brand" })
                @Ajax.ActionLink("Болонки", "Prod_List", "Product", new { ProdType = "bolonskie" }, options, new { @class = "navbar-brand" })
                @Ajax.ActionLink("Карповые", "Prod_List", "Product", new { ProdType = "carp" }, options, new { @class = "navbar-brand" })
                @Ajax.ActionLink("Сигнализаторы", "Prod_List", "Product", new { ProdType = "signalizator" }, options, new { @class = "navbar-brand" })
                @Html.ActionLink("Контакты", "Map",new { }, new { @class = "navbar-brand" })
              
            </div>
            
        </div>
        <div class="Bucket">
            @Html.Action("AddProduct", new { prodId = 0 });
        </div>
        @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Authorise", FormMethod.Post, new { @id = "logoutForm", @class = "navbar-brand navbar-right" }))
                {
                @Html.AntiForgeryToken()
                <span>Hello @User.Identity.GetUserName() !</span>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        }
        else
        {
            @Html.ActionLink(LoginLogof, LoginLogofAction, "Authorise", new { }, new { @class = "navbar-brand pull-right" })
            @Html.ActionLink("Регистрация", "Registr", "Authorise", new { }, new { @class = "navbar-brand pull-right" })
        }
    </div>
 
</div>
<div style="height:50px">

</div>

<div class="container">
    <div class="row" style="margin-bottom:10px">
      
        @Ajax.ActionLink("6", "Prod_List", "Product", new { ProdType =ViewBag.ProdType,Page=ViewBag.Page, ProdOnPage = 6 }, options,new { @class="btn btn-info btn-lg", @style="min-width:60px; border-top-left-radius:50px" })
        @Ajax.ActionLink("9", "Prod_List", "Product", new { ProdType = ViewBag.ProdType, Page = ViewBag.Page, ProdOnPage = 9 }, options, new { @class = "btn btn-info btn-lg", @style = "min-width:60px; " })
        @Ajax.ActionLink("12", "Prod_List", "Product", new { ProdType = ViewBag.ProdType, Page = ViewBag.Page, ProdOnPage = 12 }, options, new { @class = "btn btn-info btn-lg", @style = "min-width:60px; " })
        @Ajax.ActionLink("15", "Prod_List", "Product", new { ProdType = ViewBag.ProdType, Page = ViewBag.Page, ProdOnPage = 15 }, options, new { @class = "btn btn-info btn-lg", @style = "min-width:60px; border-top-right-radius:50px " })
        
        <div>
            <div class="row" id="product_list">
                @Html.Action("Prod_List")
            </div>
        </div>
    </div>

  </div>

