@{
    ViewBag.Title = "Index";
    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "product_list",
    };
 }
<div class="row">
    @foreach (var item in Model)
            {
        <div class="col-4 card" style="padding:5px; background-color:antiquewhite">
            <div class="hide">@item.ProductID</div>
            <img class="card-img-top" src=@item.Photo alt="Card image" height="250">
            <div class="card-block">
                <h4 class="card-title">@item.Name</h4>
                <h6 class="card-subtitle"></h6>
                <p class="card-text">@item.Description</p>
                <p class="card-text">Цена: @item.Price</p>
                <div>
                    @Ajax.ActionLink("В корзину!","AddProduct",new {prodId=item.ProductID},new AjaxOptions {UpdateTargetId= "Bucket" })
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="btn-group" style="margin:10px">
        @for (int i = 0; i < ViewBag.Count; i++)
        {
            @Ajax.ActionLink((@i + 1).ToString(), "Prod_List", "Product", new { ProdType = ViewBag.ProdType, ProdOnPage = ViewBag.ProdOnPage, Page = @i + 1 }, options, new { @class = "btn btn-info btn-lg", @style = "min-width:60px; border-radius:50px" })
        }
    </div>
</div>

